{% extends "base.html" %}
{% block title %} Mettre à jour Catégorie {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Mettre à jour Catégorie</h2>
            <form action="" method="POST" novalidate>
                {{ form_update.hidden_tag() }}

                <div class="form-group">
                    <label for="nom_categorie_update_wtf">{{ form_update.nom_categorie_update_wtf.label }}</label>
                    {{ form_update.nom_categorie_update_wtf(class="form-control", id="nom_categorie_update_wtf") }}
                    {% for error in form_update.nom_categorie_update_wtf.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="icon_url_update_wtf">{{ form_update.icon_url_update_wtf.label }}</label>
                    {{ form_update.icon_url_update_wtf(class="form-control", id="icon_url_update_wtf") }}
                    {% for error in form_update.icon_url_update_wtf.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form_update.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
