{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Bienvenue sur AppRama, Adrian!
			</h3>
			<h3>
				AppRama simplifie la recherche d'applications en éliminant les tracas liés aux sites potentiellement dangereux. Mise à jour régulièrement avec une variété d'applications, la plateforme permet aux utilisateurs "Trusted" d'ajouter leurs propres applications, garantissant une bibliothèque sécurisée et diversifiée. Chaque application offre des descriptions détaillées, des commentaires d'utilisateurs enregistrés, des catégories intuitives, et un système de signalement pour assurer une expérience sans souci.<br>
			</h3>
			<ul>
				<li class="list-item">
					Lire le readme.md
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
