{% extends "base.html" %}
{% block title %} Effacer l'application {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Effacer l'application</h2>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form_delete.hidden_tag() }}

                <div class="form-group">
                    <label for="nom_genre_delete_wtf">{{ form_delete.nom_genre_delete_wtf.label }}</label>
                    {{ form_delete.nom_genre_delete_wtf(class="form-control", id="nom_genre_delete_wtf", readonly=True) }}
                </div>

                <div class="form-group">
                    {{ form_delete.submit_btn_conf_del(class="btn btn-danger") }}
                    {{ form_delete.submit_btn_annuler(class="btn btn-secondary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}